In [1]:
import pandas as pd 
import folium
from folium.plugins import HeatMap

In [3]:
df = pd.read_json("us.json")

In [4]:
df.head()

,date,county,state,fips,cases,deaths,lat,lng
0,2020-01-21,Snohomish,Washington,53061.0,1,0,48.18293,-122.112126
1,2020-01-22,Snohomish,Washington,53061.0,1,0,48.18293,-122.112126
2,2020-01-23,Snohomish,Washington,53061.0,1,0,48.18293,-122.112126
3,2020-01-24,Cook,Illinois,17031.0,1,0,41.67230,-87.733900
4,2020-01-24,Snohomish,Washington,53061.0,1,0,48.18293,-122.112126

In [5]:
df.to_csv("us_geocoded.csv")